{% extends 'layout.html' %}


{% block main %}
   <h2>FLOYD DOCS</h2>
   

{% endblock %}


{% block head %}
   {{ super() }}
   
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

   
   <link rel="stylesheet" href="https://cdn.moot.it/1/moot.css">

  
   <style>
   body {
      font-family: "myriad pro", tahoma, verdana, arial, sans-serif;
      margin: 1; padding: 0;
   }

   .moot {
      font-size: 18px;
   }
   </style>
{% endblock %}

{% block scripts %}
   {{ super() }}
   
   <script src="https://cdn.moot.it/1/moot.min.js"></script>
{% endblock %}
