{% extends "layout.html" %}


{% block main %}

  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      
        <legend>Upload New Doc</legend>
      
        <div class="form-group">
          <label for="">FILE</label>
		  <form method='POST' enctype='multipart/form-data'>
          <input type="File" name="File" required="required" class="form-control" placeholder="Upload file">
		  
		    </form>     
        </div>
         
        
      
        <button type="submit" class="btn btn-primary">SUBMIT</button>
      
    </div>
  </div>
  
  
{% endblock %}

{% block scripts %}{% endblock %}
